.animate-right {
    animation-name: right;
    animation-duration: 400ms;
}

.animate-down {
    animation: down;
    animation-duration: 400ms;
}

.animate-opac {
    animation: opac 2s;
}

@keyframes right {
    from {
        transform: translateX(-100%);

    } to {
        transform: translateX(0);
    }
}

@keyframes down {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
    }
}

@keyframes opac {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
