.animate-right {
    animation-name: right;
    animation-duration: 400ms;
}

@keyframes right {
    from {
        transform: translateX(-100%);

    } to {
        transform: translateX(0);
    }
}

.animate-down {
    animation: down;
    animation-duration: 400ms;
}

@keyframes down {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
    }
}

.animate-opac {
    animation: opac 2s;
}

@keyframes opac {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.animate-shake {
    animation: shake .2s;
    animation-iteration-count: 1;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {margin-left: 0;}
    25% {margin-left: 1px;}
    50% {margin-left: 0;}
    75% {margin-left: -1px;}
    100% {margin-left: 0;}
}