
aside.asidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 191.234px;
  min-width: 191.234px;
  min-height: 100vh;
  padding: 10px;
  color: #fff;
  background-color: $--clr;
  transition-property: width;
  transition-duration: 400ms;
  z-index: 40;
  .btn-co {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    font-size: 1.1rem;
    .btn-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: $--clr;
      border-style: solid;
      border-radius: 5px;
      z-index: 10;
    }
  }
  
  .aside-header {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 4px;
    .text {
      letter-spacing: 0.2rem;
      font-weight: 600;
    }
  }

  .sub-menu-icon {
    font-size: 1.2rem;
  }
  
}

aside.asidebar.active {
  min-width: 54.625px;
  width: 54.625px;
  z-index: 40;
  .btn-co {
    justify-content: center;
    left: 0px;
    right: 0px;
    margin: 0 auto;
  }
  .aside-header {
    .text,
    .icon {
      display: none;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    a {
      padding: 10px;
    }
  }
  .menu-title {
    .menu-icon,
    .menu-text {
      display: none;
    }
  }
  .sub-menu {
    margin-left: 1px;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  hr {
    margin-top: 6vh;
  }
  .sub-menu-icon {
    left: 2px;
    top: 2px;
  }

  .text-submenu {
    display: none;
  }
}

aside .aside-body {
  height: 80%;
  z-index: 100;
  overflow-y: auto;
}

aside {
  .menu {
    margin-bottom: 10px;
    color: $--color-v3;
    .menu-title {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.02rem;
      cursor: pointer;
      white-space: nowrap;
      .menu-icon {
        font-size: 1.2rem;
      }
    }
  }
}

aside {
  .sub-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 3px;
    margin-left: 20px;
    white-space: nowrap;
    z-index: 1000;
    a {
      width: 100%;
      padding: 5px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0.02rem;
      color: $--color-v3;
      &:hover {
        background-color: #fff;
        color: $--clr;
        font-weight: 600;
      }
    }
  }
}

aside {
  .sub-menu.active {
    a {
      background-color: #fff;
      color: $--clr;
      font-weight: 600;
    }
  }
}

.tooltip-submenu {
  /*
  position: absolute;
  bottom: 0.1px;
  color: #fff;
  background-color: $--clr;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s; */
  //transform: translateX(-120%);
  //transform: translateX(10%);
 // opacity: 0;
 //z-index: 1000;
 opacity: 0;
}
