
// RESPONSIVE
@media screen and (min-width: 20em) {
    // 320px
    .menu-drop {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: $z-index-dropdown-menu;
        button {
            width: 4.5rem;   
            height: 2.6rem; 
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .menu-drop-open-and-close {
        position: fixed;
        display: none;
        margin: 0;
        width: 100vw;
        height: 100vh;
        left: 0rem;
        top: -1rem;
        bottom: 10rem;
        z-index: $z-index-div-open-and-close-dropdown-table-order-service;
    }

    .menu-drop-open-and-close.open {
        display: block;
    }

    .menu-drop-list {
        position: relative;
        display: none;
        margin-top: .5rem;
        white-space: nowrap;
        list-style: none;
        border-radius: .25rem;
        border: 1px solid rgba(0,0,0,.15);
        background-color: #fff;
        padding: .76rem 0;   
        li {
            padding: .8rem;
            cursor: pointer;
            &:hover {
                background-color: $--color-v14;
            }
        }
    
    }
    
    .menu-drop-list.show {
        display: block;
    }
    
    .menu-drop-item {
        position: relative;
        width: 100%;
        font-size: 1.06rem;
        margin: 0 1rem;
        color: $--clr;
        font-weight: 400;
    }

}

@media screen and (min-width: 20em) {
    .menu-drop {
        button {
            width: 3.9rem;
        }
    }
}


@media screen and (min-width: 56.3em) {
    //901px
    .td-options {
        max-width: 10rem;
    }

    .menu-drop {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        button {
            width: 3rem;
        }
    }    
}

@media screen and (min-width: 61em) {
    //976px
    .td-options {
        max-width: 6rem;
    }

}