@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: $font-size;
}

body {
  background-color: $background-color;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
}

h1 {
  font-weight: 600;
  color: $--color-v4;
  font-size: calc(1.4vh + 1.4vw);
}

span + span {
  padding-left: .4rem;
}

label {
  padding-bottom: .1875rem;
  border: none;
  font-weight: 600;
  letter-spacing: 0.01rem;
  color: $--clr;
}

input,
select {
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.675rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  background-color: #fff;
}

input:focus,
select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

hr {
  color: $--color-v2;
}

a {
  text-decoration: none;
}
  // RESPONSIVE
@media screen and (min-width: 20em) {
  // 320px

  header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: calc(3.5vh + 3.5vw);
    width: calc(3.5vh + 3.5vw);
    z-index: $z-index-aside-header;

    #headerEvent {
      position: absolute;
      display: none;
      width: 100vw;
      height: 100vh;
    }

    aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $--clr;
      height: 0;
      width: 0;
      z-index: $z-index-aside;
      .aside-header {
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        height: 4rem;
        width: 100%;
        color: #DCDCDC;
        .text,
        .icon {
          display: none;
        }
        .btn-co {
          position: absolute;
          height: 3.5rem;
          width: 3.5rem;
          top: 0.35rem;
          left: 0.35rem;
          font-size: 1.5rem;
          button {
            height: 100%;
            width: 100%;
            background-color: $--clr;
            color: #fff;
            border-style: solid;
            border-radius: 0.8rem;
          }
        }
      }
      hr {
        color: #fff;
        width: 100%;
      }
      .aside-body {
        display: none;
        height: 64%;
        width: 100%;
        flex-direction: column;
        overflow-y: scroll;
      }
    } // End aside

    .menu {
      margin: 0 1rem;
      font-size: 1.2rem;
      font-weight: 450;
      color: $--color-v3;
    } // end menu
    .menu-title {
      padding: 0.1rem;
      .menu-icon {
        font-size: 1.3em;
      }
      .menu-text {
        font-size: 1.3rem;
      }
    }
    .sub-menu {
      width: 90%;
      margin: 0.1rem 1.2rem;
      display: flex;
      font-size: 1.2rem;
      a {
        width: 100%;
        color: $--color-v3;
        padding: 0.8rem;
        border-radius: 1rem;
      }
      .tooltip-submenu {
        display: none;
      }
    } // end sub-menu

    .sub-menu.active {
      a {
        background-color: #fff;
        color: $--clr;
        font-weight: 600;
      }
    } // end sub-menu.active

    .aside-info-user {
        display: none;
        width: 100%;
        color: #DCDCDC;
      }

      .account-info {
        display: none;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        font-weight: 500;
        .account-info-user {
          width: 96%;
          text-align: center;
          white-space: nowrap;
          .account-info-user-icon {
            font-size: 1.9em;
          }
          .account-info-role {
            font-style: italic;
          }
        } // end account-info-user
        .account-info-options {
          width: 96%;
          text-align: center;
          font-size: 2em;
          margin: 0.5rem;
        }
      } // end account-info
  } // end header

  header.open {
    height: 100vh;
    width: 100vw;

    aside {
      height: 100%;
      width: 100%;
      justify-content: flex-start;

      .aside-header {
        display: flex;
        .text {
          display: block;
        }
      }

      .aside-body {
        display: flex;
        justify-content: flex-start;
      }
    } // end aside
    .aside-info-user {
      display: block;
    }

    .account-info {
      display: flex;
    } // end account-info
  } // end header.open

  .content-main {
    position: absolute;
    width: 100%;
    padding: 0.6rem;
    transition-property: left;
    transition-duration: 100ms;
  }

  .home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    h1 {
      font-size: 1.5rem;
      padding: 0 1rem;
    }
  }

  .menu-router-activity {
    margin-top: 0.5rem;
    color: #444;
    padding: 0 1rem;
  }

  .bar-home {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 7.3rem;
    padding: 0 1rem;

    > button {
      font-size: 1rem;
      height: 40%;
      margin: 0.5rem 0;
    }

    form {
      height: 60%;
      width: 100%;
      .div-search {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0.125em;
        input {
          height: 100%;
          width: 80%;
          border-radius: 0.25rem 0px 0px 0.25rem;
          margin: 0;
          &:focus {
            box-shadow: none;
          }
        }
        button {
          height: 100%;
          width: 20%;
          border-radius: 0px 0.25rem 0.25rem 0px;
          margin: 0;
          font-size: 0.89rem;
        }
      }
    }
  } // end bar-home
  .pagination {
    height: 2.7rem;
  }
} // Breakpoint 320%

@media screen and (min-width: 31.25em) {
  //500

  header {
    aside {
      .btn-co {
        height: 3.2rem;
        width: 3.2rem;
        font-size: 1.4rem;
      }

      hr {
        margin-top: 1.4rem;
      }

      .aside-body {
        height: 80%;
      }
    }
  }

  .home-header {
    h1 {
      font-size: 1.8rem;
    }
  }

  .bar-home {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    > button {
      height: 75%;
    }

    form {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 90%;
      margin: 0;
      .div-search {
        display: block;
        width: auto;
        input {
          width: 15rem;
        }

        button {
          width: 2.8rem;
        }
      } // end div.search
    } //end form
  } // end bar-home
} // Breakpoint 500px

@media screen and (min-width: 50em) {
  //800px
  header {
    height: 100vh;
    aside {
      height: 100%;
      width: calc(3.5vh + 3.5vw);
      justify-content: flex-start;
      transition-property: width;
      transition-duration: 500ms;
      .aside-header {
        margin-top: 0.2rem;
        width: 90%;
        height: 3rem;
        .icon,
        .text {
          display: none;
        }

        .icon {
          width: 10%;
        }

        .text {
          width: 30%;
        }
        .btn-co {
          position: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 98%;
          font-size: 1.1rem;
          left: 0;
          right: 0;
          margin: 0 auto;

          button {
            height: 2.8rem;
            width: 2.8rem;
          }
        } // end btn-co
      } // end aside-header

      hr {
        margin-top: 1rem;
      }

      .aside-body {
        display: block;
        width: 100%;
      }
    } // end aside
    .menu {
      margin: 0;
    } // end menu
    .menu-title {
      white-space: nowrap;
      .menu-text,
      .menu-icon {
        position: absolute;
        transform: translateX(-110%);
      }
    } // end menu-title

    .sub-menu {
      white-space: nowrap;
      margin: 0;
      font-size: 1.45rem;
      padding: 0.3rem;
      a {
        padding: 0;
        text-align: center;
        border-radius: 4%;
      }
      .text-submenu {
        display: none;
      }

      .tooltip-submenu {
        position: absolute;
        display: inline-block;
        white-space: nowrap;
        background-color: $--clr;
        color: #fff;
        font-size: 1.05rem;
        left: 108%;
        border-radius: 0 1rem 1rem 0;
        width: auto;
        padding: 0.7rem 0.6rem;
        transform: translateX(-200%);
        transition-property: transform;
        transition-duration: 500ms;
      } // end tooltip-submenu
    } // end sub-menu
  } // End header

  header.open {
    width: 100vw;
    #headerEvent {
      display: block;
      left: 16rem;
    }
    aside {
      width: 16rem;
      .aside-header {
        .icon,
        .text {
          display: block;
        }
        .btn-co {
          width: 60%;
          justify-content: flex-end;
        }
      } // end aside-header

      .aside-body {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .account-info {
        font-size: 0.9rem;
      }
    } // end aside

    .menu {
      margin: 0 0.7rem;
      width: 100%;
    } // end menu
    .menu-title {
      padding: 0.1rem;
      text-align: start;
      .menu-text,
      .menu-icon {
        position: relative;
        display: inline;
      }
      .menu-icon {
        font-size: 1.1em;
      }
      .menu-text {
        font-size: 1rem;
      }
    } // end menu-title

    .sub-menu {
      display: flex;
      width: 80%;
      margin: 0 1.3rem;
      font-size: 0.95rem;
    } // end sub-menu
    a {
      width: 100%;
      padding: 0.6rem;
      border-radius: 1rem;
      text-align: start;
    }

    .sub-menu-icon {
      font-size: 1.2rem;
    }

    .text-submenu {
      display: inline-block;
    }

    .tooltip-submenu {
      display: none;
    }

    .sub-menu.active {
      a {
        background-color: #fff;
        color: $--clr;
      }
    }
  } // End header.open

  .content-main {
    left: calc(3.5vh + 3.5vw);
    width: calc(100% - calc(3.5vh + 3.5vw));
    transition-property: left, width;
    transition-duration: 500ms;
  }

  header.open ~ .content-main {
    left: 16rem;
    width: calc(100% - 16rem);
  }

  .home-header {
    justify-content: flex-start;
    h1 {
      padding: 0 1rem;
    }
  }
} // Breakpoint 800px
