.content-login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #DCDCDC;
    background-color: $--color-v4;

    form {
        height: 23rem;
        width: 31.05rem;
        border: .21rem  solid  #2ecc71;
        border-radius: 3rem .6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 7rem;
        div {
            width: 80%;
            margin: .4rem 0;
            h2 {
                text-align: center;
            }
            input, select {
                background-color: $--color-v4;
                text-align: center;
                border: .2rem solid #3498db;
                border-radius: 1.4rem;
                color: white;
            }
            button, a {
                width: 100%;
                padding: .6rem;
            }
        } // end div

        #alert {
            color: $--color-v7;
        } 

        #password-forgot-it {
            margin: .7rem 0;
            a {
                color: #DCDCDC;
                border: .1rem  solid  #2ecc71;
                border-radius: 3rem .6rem;
                padding: .1rem 1.5rem;
            }
        }
    } // end form

    #form-send-email-forgot {
        height: 27.15rem;
        width: 42.39rem;
    }

    #form-send-code {
        height: 17.63rem;
        width: 31.75rem;
    }
} // end content-login
