.ReactModal__Overlay, .ReactModal__Overlay--after-open {
    z-index: 65;
}

.ReactModal__Content--after-open {
    max-height: 90vh;
}

.modal-h2 {
    font-size: 1.7rem;
    color: $--color-v3;
}

section {
    margin-bottom: 1.5rem;
}

.modal-section {
   
    .modal-status-open {
        color: $--color-v1;
    }

    .modal-status-progress {
        color: $--color-v11;
    }

    .modal-status-late {
        color: $--color-v7;
    }

    .modal-status-concluded {
        color: $--color-v1;
    }

    .span-value {
        font-weight: 500;
        font-style: italic;
    }
}

.modal-label {
    font-style: italic;
}

.modal-title {
    font-weight: 600;
}

.modal-section-item, .modal-expenditure {
    width: 100%;
    div {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
} 

.modal-header-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-item-1 {
    width: 60%;
} 

.modal-item-2 {
    width: 20%;
} 

.modal-item-3 {
    width: 20%;
}

.modal-expenditure {
    margin: .5rem 0;

    .modal-item-description {
        width: 80%;
    }

    .modal-item-value {
        font-weight: 500;
    }
}

.modal-section-comand {
    margin-top: 10px;
    button {
        margin: .5rem;
    }
}

//ReactModal__Content ReactModal__Content--after-open

// RESPONSIVE
@media screen and (min-width: 20em) {
    // 320px
    .ReactModal__Content--after-open {
        margin-right: -50%!important;
    }
}

@media screen and (min-width: 50em) {
    //800px
    .ReactModal__Content--after-open {
        margin-right: -20%!important;
    }
}

@media screen and (min-width: 70em) {
    //1120px
    .ReactModal__Content--after-open {
        margin-right: -15%!important;
    }
}

