.page-loading {
    width: 100vw;
    height: 100vh;
    background-color: $--color-v10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        color: $--color-v3;
        font-size: 1.2rem;
    }
}