// VARIABLES
$background-color: #fff;
$--clr: #222327;
$--color-v1: #2ecc71;
$--color-v2: #3498db;
$--color-v3: #b8c7ce;
$--color-v4: #363636;
$--color-v5: #86b7fe;
$--color-v6: #444;
$--color-v7: #c44484;
$--color-v8: #7066e0;
$--color-v9: #198754;
$--color-v10: #111827;
$--color-v11: #4682B4;
$--color-v12: #0c1633;


$font-size: 80.5%;
$z-index: 30;
$z-index-aside-header: 40;
$z-index-aside: 60;