// VARIABLES
$background-color: rgb(240,248,255);
$--clr: #222327;
$--color-v1: #2ecc71;
$--color-v2: #3498db;
$--color-v3: #b8c7ce;
$--color-v4: #363636;
$--color-v5: #86b7fe;
$font-size: 80.5%;
$z-index: 30;
$z-index-aside-header: 40;
$z-index-aside: 60;