// VARIABLES
$background-color: #fff;
$--clr: #222327;
$--color-v1: #2ecc71;
$--color-v2: #3498db;
$--color-v3: #b8c7ce;
$--color-v4: #363636;
$--color-v5: #86b7fe;
$--color-v6: #444;
$--color-v7: #c44484;
$--color-v8: #7066e0;
$--color-v9: #198754;
$--color-v10: #111827;
$--color-v11: #4682B4;
$--color-v12: #0c1633;
$--color-v13: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
$--color-v14: #DCDCDC;


$font-size: 80.5%;
$z-index: 30;
$z-index-aside-header: 40;
$z-index-aside-modal: 41;
$z-index-aside: 60;
$z-index-div-open-and-close-dropdown-table-order-service: 61;
$z-index-dropdown-menu: 62;