.content-form {
    position: relative;
    display: block;
    height: 0px;
    opacity: 0;
    padding: 5px;
    transition-property: height, opacity;
    transition-duration: 1.2s, 2s;
    transition-delay: 0s, 200ms;
}

.content-form.active {
    height: 300px;
    opacity: 1;
}

.content-form .row {
    margin-top: 5px;
}

.content-form .btns  {
    padding: 10px;
}

.content-form label {

    padding-top: 10px;
}

.content-form input, .content-form select {
    border-radius: 8px;
    padding: 10px;
}