.content-form {
    position: relative;
    display: block;
    height: 0px;
    padding: 10px;
    opacity: 0;
    transition-property: height, opacity;
    transition-duration: 1.2s, 2s;
    transition-delay: 0s, 200ms;
    background-color: tomato;
    
}

.content-form.active {
    height: calc(15.5vh + 15.5vw);
    opacity: 1;
}

.content-form .row {
    position: relative;
    margin-top: 5px;
    margin: 6px;
    background-color: chartreuse;
}
.content-form .row .form-group  {
    background-color: crimson;
}

.content-form .btns  {
    padding: 10px;
}

.content-form label {

    padding-top: 10px;
}

.content-form input, .content-form select {
    border-radius: 8px;
    padding: 10px;
}