@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #222327;
    --color-v1: #2ecc71;
    --color-v2: #3498db;
    --color-v3: #b8c7ce;
    --color-v4: #363636;
    font-size: 80.5%;
}

body {
    background-color: rgb(240,248,255);    
}

::-webkit-scrollbar {
    width: 0px;
} 

h1 {
    font-weight: 600;
    color: var(--color-v4);
    font-size: calc(1.4vh + 1.4vw);
}

span + span {
    padding-left: 5px;
}

label {
    padding-bottom: 3px;
    border: none;
    font-weight: 600;
    letter-spacing: 0.01rem;
    color: var(--clr);
}

input, select {
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.675rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    background-color: #fff;
}

input:focus, select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

hr {
    color: var(--color-v2);
}

.content-main {
    position: absolute;
    left: calc(100% - 86%);
    width: 86%;
    height: auto;
    padding: 11px;
    transition: left 400ms;
}

.content-main.large  {
    left: 4%;
    width: 96%;
    /*min-width: 655.953px;*/
} 

.home-header {
    display: flex;
    justify-content: space-between;
    color: var(--color-v4);
    font-weight: 400;
}

.menu-router-activity {
    color: #444;
    padding: 10px;
 }

#menu-router-activity {
    color: #777777;
}

.bar-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(2.1vh + 2.1vw);
    padding: 2px;
    width: 100%;
}

.bar-home form {
    height: 100%;
}

.bar-home > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:  5%;
    font-size: calc(.6vh + 0.6vw);
} 

.div-search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2px;
}

.div-search input {
    height: 100%;
    width: 80%;
    border-radius: 0.25rem 0px 0px 0.25rem;
    margin: 0;
}

.div-search input:focus {
    box-shadow: none;
}

.div-search button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:  20%;
    border-radius: 0px 0.25rem 0.25rem 0px;
    margin: 0;
}

/* Responsive */


@media (max-width: 1315px) {
    aside.asidebar {
        background-color: lightcoral;
    }

    aside.asidebar.active {
        width: 5%;
    }

    aside.asidebar .btn-co {
        height: calc(1.6vh + 1.6vw);
        width:  calc(1.6vh + 1.6vw);
    }

    aside.asidebar.active .btn-co {
        justify-content: center;
        top: 12px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: calc(1.8vh + 1.8vw);
        width:  calc(1.8vh + 1.8vw);
    }

    aside.asidebar.active hr {
        margin-top: 7vh;
    }

    .content-main.large {
        left: 5%;
        width: 95%;
    }

    .bar-home {
        height: calc(2.5vh + 2.5vw);
    }

    .bar-home > button {
        width: 5.2%;
        font-size: calc(.0.7vh + 0.7vw);
    } 
}

@media (max-width: 960px) {
    aside.asidebar {
        width: 7%;
        background-color: yellowgreen;
    }

    aside.asidebar.active {
        width: 7%;
    }

    aside.asidebar .btn-co {
        justify-content: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: calc(2.1vh + 2.1vw);
        width:  calc(2.1vh + 2.1vw);
    }

    aside.asidebar.active .btn-co {
        justify-content: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: calc(2.1vh + 2.1vw);
        width:  calc(2.1vh + 2.1vw);
    }


    aside.asidebar .aside-header .text, 
    aside.asidebar .aside-header .icon { 
        display: none;
    }

    aside.asidebar hr {
        margin-top: 8vh;
    }

    aside.asidebar.active hr {
        margin-top: 8vh;
    }
    
    aside.asidebar .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    } 
    
    aside.asidebar .menu-title .menu-text, 
    aside.asidebar .menu-title .menu-icon {
        display: none;
    }
    
    aside.asidebar .sub-menu {
        position: relative;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    
    aside.asidebar .menu a {
        padding: 10px;
    }
    
    aside .menu .sub-menu.active a {
        background-color: #fff;
        color: var(--clr);
        font-weight: 600;
    }
    
    aside.asidebar .menu .sub-menu a:hover .tooltip-submenu {
        opacity: 1;
        transform: translateX(calc(1.5vh + 1.5vw));
    }
    
    aside.asidebar .menu .sub-menu .sub-menu-icon {
        position: relative;
        left: 2px;
        top: 2px;
    }
    
    aside.asidebar .sub-menu .text-submenu {
        display: none;
    }

    .content-main {
        left: 7%;
        width: 93%;
    }

    .content-main.large {
        left: 7%;
        width: 93%;
    }

    .bar-home {
        height: calc(3.1vh + 3.1vw);
    }

    .bar-home > button {
        width: 7%;
        font-size: calc(.77vh + .77vw);
    } 

    .div-search button {
        font-size: calc(.76vh + .76vw);
    }
}

  @media (max-width: 740px) {
    aside.asidebar {
        width: 8%;
        background-color: lightseagreen;
    }

    aside.asidebar.active {
        width: 8%;
    }

    aside.asidebar .btn-co {
        height: calc(2.4vh + 2.4vw);
        width:  calc(2.4vh + 2.4vw);
    }

    aside.asidebar.active .btn-co {
        height: calc(2.4vh + 2.4vw);
        width:  calc(2.4vh + 2.4vw);
    }

    .content-main {
        left: 8%;
        width: 92%;
    }

    .content-main.large {
        left: 8%;
        width: 92%;
       /* min-width: 655.953px; */
    }

    .bar-home {
        height: calc(3.3vh + 3.3vw);
    }

    .bar-home > button {
        width: 9%;
        font-size: calc(.89vh + .89vw);
    } 

    .div-search button {
        font-size: calc(.79vh + .79vw);
    }
    
  } 

  @media (max-width: 640px) {
    aside.asidebar {
        width: 9%;
        background-color: lightslategrey;
    }

    aside.asidebar.active {
        width: 9%;
    }

    aside.asidebar .btn-co {
        height: calc(2.8vh + 2.8vw);
        width:  calc(2.8vh + 2.8vw);
    }

    aside.asidebar.active .btn-co {
        height: calc(2.8vh + 2.8vw);
        width:  calc(2.8vh + 2.8vw);
    }

    .content-main {
        left: 9%;
        width: 91%;
    }

    .content-main.large {
        left: 9%;
        width: 91%;
       /* min-width: 655.953px; */
    }

    .bar-home {
        height: calc(3.6vh + 3.6vw);
    }

    .bar-home > button {
        width: 10.8%;
        font-size: calc(.93vh + .93vw);
    } 

    .div-search button {
        font-size: calc(.91vh + .91vw);
    }
    
  } 

  @media (max-width: 550px) {
    aside.asidebar {
        width: 10%;
        background-color: lightsalmon;
    }

    aside.asidebar.active {
        width: 10%;
    }

    .content-main {
        left: 10%;
        width: 90%;
    }

    .content-main.large {
        left: 10%;
        width: 90%;
    }

    .bar-home {
        height: calc(4vh + 4vw);
    }

    .bar-home > button {
        width: 12.5%;
        font-size: calc(1.1vh + 1.1vw);
    } 

    .div-search button {
        font-size: calc(.91vh + .91vw);
    }
    
  } 

  @media (max-width: 510px) {
    aside.asidebar {
        width: 11%;
        background-color: springgreen;
    }

    aside.asidebar.active {
        width: 11%;
    }

    .content-main {
        left: 11%;
        width: 89%;
    }

    .content-main.large {
        left: 11%;
        width: 89%;
    }

    .bar-home > button {
        font-size: calc(1vh + 1vw);
    } 
    
  } 

  /* 425px */
  @media (max-width: 425px) {
    aside.asidebar {
        left: 0px;
        height: 50px;
        min-height:50px;
        width: 50px;
        transition-property: width, height, background-color;
        transition-duration: 1s, 1s, 1.4s;
        transition-timing-function: ease, ease, ease-in;
        background-color: rgb(240,248,255);
    }

    aside.asidebar.active {
        height: 100vh;
        width: 100vw;   
        transition-property: width, height;
        transition-duration: 1s, 1s;
        background-color: var(--clr);
    }

    aside.asidebar.active .aside-header {
        justify-content: center;
        font-size: calc(1.9vh + 1.9vw);

    }
    aside.asidebar.active .aside-header .text {
        display: block;
    }

    aside.asidebar.active hr {
        margin-top: 3vh;
    }

    aside.asidebar .btn-co {
        top: 5px;
        left: 5px;
        height: 45px;
        width: 45px;
        margin: 0;
    }
    
    aside.asidebar.active .btn-co {
        top: 5px;
        left: 5px;
        right: 0px;
        margin: 0;
        height: 45px;
        width: 45px;        
    }

    aside .btn-co .btn-menu {
        font-size: 4vw;
    }

    aside.asidebar .menu {
        display: none;
    } 

    aside.asidebar.active .menu {
        display: flex;
    } 

    aside.asidebar.active .menu-title {
        width: 100%;
        margin-bottom: 3px;
        padding: 5px;
        font-weight: 600;
    }

    aside.asidebar.active .menu-title .menu-text {
        display: block;
        font-size: 1.4rem;
    }

    aside .menu .sub-menu {
        display:  flex;
    }

    aside.asidebar.active .menu .sub-menu {    
        display: flex;  
        width: 90%;
        font-size: 1.2rem;
    }

    aside.asidebar.active .sub-menu .sub-menu-icon {
        font-size: 1.7rem;
        margin-right: 8px;
    }

    aside.asidebar.active .sub-menu .text-submenu {
        display: inline;
    }

    aside.asidebar .tooltip-submenu {
        display: none;
    }

    .content-main {
        left: 0;
        width: 100%;
        height: auto;
        padding: 11px;
    }
    
    .content-main.large  {
        left: 0;
       width: 100%;
        /*min-width: 655.953px;*/
    } 

    .home-header {
        justify-content: center;
        font-size: 1rem;
    }

    .home-header h1 {
        font-size: 1.6rem;
    }

    #btn-exit {
        display: none;
    }

    .menu-router-activity {
        display: flex;
        margin-top: 20px;
    }

    .bar-home {
        height: calc(8.5vh + 8.5vw);
        min-height: 98px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .bar-home form {
        height: 55%;
        width: 100%;
    }

    .bar-home > button {
        height: 45%;
        width: 16%;
        font-size: 2.8vw;
        margin: 6px 0;
    } 

    .div-search input {
        width: 84%;
    }

    .div-search button {
        width: 16%;
        font-size: 2.8vw;
    }

    .pagination li {
        width: 35px;        
    }

  }
  