/* 713px */

@media (max-width: 1315px) {
    aside.asidebar.active {
        width: 5%;
        background-color:blue;
    }

    .content-main.large {
        left: 5%;
        width: 95%;
       /* min-width: 655.953px; */
    }

}

@media (max-width: 1000px) {
    aside.asidebar.active {
        width: 6%;
        background-color:brown;
    }

    .content-main.large {
        left: 6%;
        width: 94%;
       /* min-width: 655.953px; */
    }
}

@media (max-width: 930px) {
    aside.asidebar {
        width: 7%;
        background-color: blueviolet;
    }

    aside.asidebar.active {
        width: 7%;
    }
    
    aside.asidebar .aside-header .text, 
    aside.asidebar .aside-header .icon { 
        display: none;
    }
    
    aside.asidebar .btn-co {
        justify-content: center;
    }
    
    aside.asidebar .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    } 
    
    aside.asidebar .menu-title .menu-text, 
    aside.asidebar .menu-title .menu-icon {
        display: none;
    }
    
    aside.asidebar .sub-menu {
        position: relative;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    
    aside.asidebar .menu a {
        padding: 10px;
    }
    
    aside .menu .sub-menu.active a {
        background-color: #fff;
        color: var(--clr);
        font-weight: 600;
    }
    
    aside.asidebar .menu .sub-menu a:hover .tooltip-submenu {
        opacity: 1;
        transform: translateX(calc(1.5vh + 1.5vw));
    }
    
    aside.asidebar .menu .sub-menu .sub-menu-icon {
        position: relative;
        left: 2px;
        top: 2px;
    }
    
    aside.asidebar .sub-menu .text-submenu {
        display: none;
    }

    .content-main {
        left: 7%;
        width: 93%;
    }

    .content-main.large {
        left: 7%;
        width: 93%;
       /* min-width: 655.953px; */
    }


  }

  @media (max-width: 740px) {
    aside.asidebar.active {
        width: 8%;
        background-color:brown;
    }

    .content-main.large {
        left: 8%;
        width: 92%;
       /* min-width: 655.953px; */
    }
    
  } 

  @media (max-width: 640px) {
    aside.asidebar.active {
        width: 9%;
        background-color:brown;
    }

    .content-main.large {
        left: 9%;
        width: 91%;
       /* min-width: 655.953px; */
    }
    
  } 

  @media (max-width: 550px) {
    aside.asidebar.active {
        width: 10%;
        background-color:brown;
    }

    .content-main.large {
        left: 10%;
        width: 90%;
       /* min-width: 655.953px; */
    }
    
  } 

  
  @media (max-width: 510px) {
    aside.asidebar.active {
        width: 11%;
        background-color:cadetblue;
    }

    .content-main.large {
        left: 11%;
        width: 89%;
       /* min-width: 655.953px; */
    }
    
  } 