@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=Poppins:wght@200;300;400;500;600&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #222327;
    font-size: 80.5%;
}

body {
    background-color: rgb(240,248,255);
}

::-webkit-scrollbar {
    width: 0px;
}

h1 {
    color:var(--clr);
    font-weight: 600;
    color: #363636;
    font-size: calc(1.5vh + 1.5vw);
}

span + span {
    padding-left: 5px;
}

label {
    padding-bottom: 3px;
    font-weight: 600;
    letter-spacing: 0.01rem;
    color: var(--clr);
}

.content {
    display: flex;
}

.content-main {
    position: absolute;
    left: calc(100% - 84%);
    width: 84%;
    height: auto;
    padding: 11px;
    transition: left 0.5s;
}


.content-main.large  {
    /*left: calc(100% - 95%);
    width: 95%; */
    left: 57.0312px;
    width: 95%;
    min-width: 655.953px;
} 

main button {
    margin: 3px;
}

.home-header {
    display: flex;
    justify-content: space-between;
}

.menu-router-activity {
    padding: 2px;
}

.bar-home {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.div-search {
    display: flex;
    height: 80%;
}

.div-search input {
    border-radius: 8px;
    margin-right: 5px;
}
