@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=Poppins:wght@200;300;400;500;600&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #222327;
    font-size: 80.5%;
}

body {
    background-color: rgb(240,248,255);    
}

::-webkit-scrollbar {
    width: 0px;
} 

h1 {
    color:var(--clr);
    font-weight: 600;
    color: #363636;
    font-size: calc(1.5vh + 1.5vw);
}

span + span {
    padding-left: 5px;
}

label {
    padding-bottom: 3px;
    border: none;
    font-weight: 600;
    letter-spacing: 0.01rem;
    color: var(--clr);
}

input, select {
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.675rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    background-color: #fff;
}

input:focus, select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

main button {
    margin: 3px;
}

.content-main {
    position: absolute;
    left: calc(100% - 86%);
    width: 86%;
    height: auto;
    padding: 11px;
    transition: left 0.5s;
}

.content-main.large  {
    left: 4%;
    width: 96%;
    /*min-width: 655.953px;*/
} 


.home-header {
    display: flex;
    justify-content: space-between;
}

.menu-router-activity {
    padding: 2px;
}

.bar-home {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.div-search {
    display: flex;
    height: 80%;
}

.div-search input {
    border-radius: 8px;
    margin-right: 5px;
}
