

.box {
    background-color: #157bad;
    height:  300px;
    width: 300px;

    transition-property: height;
    transition-duration: 2s;

}

.box:hover {
    height: 400px;
    background-color: #ac5840;
    border-radius: 50%;
}

.div-1 {
    height: calc(20vh + 20vw);
    width: calc(20vh + 20vw);
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.div-2 {
    background-color: darkslateblue;
    position: relative;
    height: 90%;
    width: 90%;
}