
.content-table nav ul li a {
    color: var(--clr);
}

table {
    position: relative;
}

table .thead-min {
    display: none;
}

/*900*/

@media (max-width: 900px) {
    table {
        display: flex;
    }

    table .thead-max {
        display: none;
    }

    table .thead-min {
        display: block;
    }
    table tbody {
        width: 100%;
    }

    table tbody tr {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    

}